.prizewinners {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
    background-color: gray;
    width: 75%;
    max-width: 1336px;
    
    .Header {
        position: inherit;
        padding: 20px;
        margin: 30px 10% 0px 10%;
        background-color: white;
        color: red;
        border: 1px solid black;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .tableContainer{
        
        padding: 20px;
        margin: 0px 10% 0px 10%;
        background-color: white;
        border: 1px solid black;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;

        gap: 30px;

        .winHead {
            color: red;
        }

        .table {
            margin: 0 auto;
        }

        th {
            color: white;
            background: linear-gradient(to bottom, #cc0000, red);
        }
        
        th, td {
            padding: 5px;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }



        .headerRow {
            background: linear-gradient(to bottom, #cc0000, red);
            color: white;
        }
    

        }
}